<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="js/main.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    <div class="content">
        <article class="swp_home" id="home">
            <swp-home>
                <h1>Solidarité Wassadou Pont-Trambouze</h1>
                <p class="swp_lead">
                    Créé en association loi 1901 depuis 2004, tous les membres de l'association sont
                    bénévoles et oeuvrent ensemble au développement du village de Wassadou,
                    département de Tambacounda au Sénégal. </p>

                <p class="swp_lead">
                    Nos actions sont axées sur la <b>gratuité et l'accès à tous les enfants du village à un
                    enseignement scolaire</b>.
                </p>

                <p class="center swp_lead">
                    "Pour un adolescent le choix de son avenir passe forcément par la maitrise
                    de la lecture, de l’écriture et des mathématiques".
                </p>

                <div class="center">
                    <div class="swp-img-container">
                        <img src="img/logo_long2.svg" alt="Solidarité Wassadou Pont-Trambouze"/>
                    </div>
                </div>

                <p class="swp_lead is-large-screen">
                    Nos actions sont menées dans le but
                </p>

                <ul class="is-large-screen">
                    <li>D'apporter les fournitures et le matériel scolaire pour que chaque enfant puisse
                        suivre une scolarité complète de la maternelle à l'entrée en secondaire.
                    </li>
                    <li>D'apporter une bourse pour les enfants accédant au secondaire, collège comme
                        au lycée.
                    </li>
                    <li>De trouver et de financer des formations professionnelles pour ceux ou celles
                        qui souhaitent entrer dans la vie active rapidement.
                    </li>
                    <li>D’apporter une aide financière pour le logement des universitaires issu de
                        Wassadou qui suivent des études supérieures à l’université ou dans une école
                        supérieure à Dakar.
                    </li>
                    <li>De participer à la sécurisation et à l’amélioration des salles de classes à l’école
                        du village.
                    </li>
                    <li>De s'investir avec l’association des jeunes de Wassadou pour un bon développement de leur
                        village.
                    </li>
                    <li>D'encourager les jeunes du village à travers leur association à la protection et au
                        respect des jeunes filles.
                    </li>
                </ul>

                <p>Vous pouvez visualiser nos lettres d'informations 2020 et 2021</p>

                <p class="center swp-blog--button">
                    <button class="center" onclick="document.location.href='raw/bulletin_information_mai_2020.pdf'">Lettre information<br>2020</button>
                    <button class="center" onclick="document.location.href='raw/bulletin_information_janvier_2021.pdf'">Lettre information<br>2021</button>
                </p>

                <div class="swp_grid__flexible">
                    {{#firstArticle}}
                        <article class="swp-blog--article swp_grid__element"
                                 onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <p class="swp_lead swp-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a>
                            </p>
                            <div class="swp-blog--imgteaser"><img class="swp-img--lazyload" data-src="{{{imgteaser}}}"/>
                            </div>
                            <p class="swp-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/firstArticle}}
                    {{#secondArticles}}
                        <article class="swp_grid__element swp-blog--article"
                                 onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <p class="swp_lead swp-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a>
                            </p>
                            <div class="swp-blog--imgteaser"><img class="swp-img--lazyload" data-src="{{{imgteaser}}}"/>
                            </div>
                            <p class="swp-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/secondArticles}}
                </div>
                <p class="center swp-blog--button">
                    <button class="center" onclick="document.location.href='blog.html'">Voir le blog</button>
                </p>
            </swp-home>
        </article>

        <div id="swp_transition_village"></div>

        <article class="swp_wassadou" id="wassadou">
            <swp-wassadou>
                <h1>Le village de Wassadou</h1>

                <p class="swp_lead">
                    Wassadou se trouve au Sud-est du pays à 520 km de la capitale Dakar. A L’extrémité de la Gambie et
                    aux
                    portes du parc national de Niokoto koba.
                </p>

                <div class="center">
                    <div class="swp-img-container">
                        <picture>
                            <source srcset="img/wassadou/wassadou_map_768.webp 640w, img/wassadou/wassadou_map_1024.webp 1024w, img/wassadou/wassadou_map_1600.webp"
                                    type="image/webp" class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_map_768.jpg 640w, img/wassadou/wassadou_map_1024.jpg 1024w, img/wassadou/wassadou_map_1600.jpg"
                                    class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_map_1600.jpg"/>

                            <img src="img/wassadou/wassadou_map_768.jpg">
                        </picture>
                    </div>
                </div>

                <p class="swp_lead">
                    L’éloignement de la capitale fait que les écoles de brousse de ce genre reçoivent peu d’aide du
                    gouvernement. A partir de Dakar, il faut près de 20 heures de route et de piste pour atteindre le
                    village de Wassadou appelé aussi parfois Wassadougou.
                </p>
                <p class="swp_lead">
                    La principale ressource de Wassadou est la culture de la banane sur des exploitations privées. Le
                    peu
                    d’élevage existant se limite aux besoins de la famille (chèvre, poule ou mouton). Le village compte
                    approximativement 150 chefs de case (chefs de famille) et on estime la population de la commune
                    entre
                    1300 à 1500 personnes.</p>

                <div class="center">
                    <div class="swp-img-container">
                        <picture>
                            <source srcset="img/wassadou/wassadou_view001_768.webp 640w, img/wassadou/wassadou_view001_1024.webp 1024w, img/wassadou/wassadou_view001_1600.webp"
                                    type="image/webp" class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view001_768.jpg 640w, img/wassadou/wassadou_view001_1024.jpg 1024w, img/wassadou/wassadou_view001_1600.jpg"
                                    class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view001_1600.jpg"/>

                            <img src="img/wassadou/wassadou_view001_768.jpg">
                        </picture>
                    </div>
                </div>
            </swp-wassadou>
        </article>

        <div id="swp_transition_tree"></div>

        <article class="swp_donation" id="donation">
            <swp-donation>
                <p class="swp_lead">
                    <b>100% des fonds collectés sont redistribués à nos amis de Wassadou</b>
                    (les frais de voyage et de séjour sont assumés en totalité par chaque membre se rendant sur place).
                </p>
                <div class="center swp-img-container">
                    <div class="swp-img-container">
                        <picture>
                            <source srcset="img/wassadou/wassadou_view002_768.webp 640w, img/wassadou/wassadou_view002_1024.webp 1024w, img/wassadou/wassadou_view002_1600.webp"
                                    type="image/webp" class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view002_768.jpg 640w, img/wassadou/wassadou_view002_1024.jpg 1024w, img/wassadou/wassadou_view002_1600.jpg"
                                    class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view002_1600.jpg"/>

                            <img src="img/wassadou/wassadou_view002_768.jpg">
                        </picture>
                    </div>
                </div>
                <p class="swp_lead">
                    Si vous voulez soutenir nos actions, vous pouvez envoyer vos dons directement en
                    sachant qu’avec:
                </p>
                <ul>
                    <li>5€ nous finançons les fournitures scolaires pour l’année aux 300 élèves de
                        primaire, en moyenne chaque année.</li>
                    <li>15€, nous offrons une bourse à un élève en secondaire pour payer son
                        inscription, ses fournitures. Une centaine de garçons et de filles en bénéficient
                        chaque année.</li>
                    <li>50€ et 100€, nous finançons une formation professionnelle pour un jeune dans
                        un centre agréé.</li>
                    <li>Et que le coût de notre participation pour le loyer des universitaires à Dakar
                        s’élève à près de 2 000€/an.</li>
                </ul>
                <p class="swp_lead" align="center">
                    <a class="swp_button_donation center" target="_blank"
                       href="https://www.donnerenligne.fr/solidarite-wassadou-pont-trambouze/faire-un-don">Faire un
                        don</a>
                </p>
                <p class="swp_lead">
                    Envoyez un chèque à l'ordre de SOLIDARITE WASSADOU PONT-TRAMBOUZE à l'adresse suivante : Mairie de
                    Pont Trambouze - Place Beillard - Pont-Trambouze - 69470 COURS.
                </p>
                <p class="swp_lead">
                    Vous pouvez aussi faire un virement. Pour celà envoyez nous un mail à
                    contact@solidarite-wassadou.fr.
                    Nous vous enverrons en retour notre RIB pour que vous ayez les éléments pour faire un virement.
                </p>
            </swp-donation>
        </article>

        <div id="swp_transition_ground"></div>


        <article class="swp_contact" id="contact">
            <swp-contact>
                <div class="swp_grid__flexible">
                    <div class="swp_grid__element">
                        <h1>Contact</h1>

                        <p class="swp_lead">
                            N'hésitez pas à nous contacter si vous souhaitez plus d'informations<br>
                        </p>

                        <p class="swp_lead">
                            <b>Solidarité Wassadou Pont Trambouze</b><br>
                            <small>contact @ solidarite-wassadou.fr</small>
                        </p>
                        <address class="swp_lead">
                            <b>Solidarité Wassadou Pont Trambouze</b><br>
                            Mairie<br>
                            Pont-Trambouze<br>
                            Place Beillard <br> 69470 COURS.<br>
                            France
                        </address>
                        <p>&nbsp;</p>
                        <p>
                            <a href="https://www.facebook.com/SolidariteWassadouPontTrambouze/" target="_blank"
                               rel="noopener">
                                <img src="img/contact/facebook.svg" alt="Facebook" class="swp-social">
                            </a>
                            <a href="mailto:contact@solidarite-wassadou.fr" target="_blank" rel="noopener">
                                <img src="img/contact/mail.svg" alt="Mail" class="swp-social">
                            </a>
                        </p>
                        <p align="center"><small>hosted and supported by</small></p>
                        <p align="center">
                            <img src="img/logo-clevercloud.svg" alt="hosted by Clever Cloud">
                        </p>
                    </div>
                </div>
            </swp-contact>
        </article>
    </div>
    {{> _page_footer}}
</main>
{{> _html_footer}}
</body>
</html>
