<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="js/main.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    <div class="content">
        <article class="swp_home" id="home">
            <swp-home>
                <h1>Solidarité Wassadou Pont-Trambouze</h1>
                <p class="swp_lead">
                    Créé en association loi 1901 depuis 2004, tous les membres de l'association sont
                    bénévoles et oeuvrent ensemble au développement du village de Wassadou,
                    département de Tambacounda au Sénégal. </p>

                <p class="swp_lead">
                    Nos actions sont axées sur la <b>gratuité et l'accès à tous les enfants du village à un
                    enseignement scolaire</b>.
                </p>

                <p class="center swp_lead">
                    "Pour un adolescent le choix de son avenir passe forcément par la maitrise
                    de la lecture, de l’écriture et des mathématiques".
                </p>

                <div class="center">
                    <div class="swp-img-container">
                        <img src="img/logo_long2.svg" alt="Solidarité Wassadou Pont-Trambouze"/>
                    </div>
                </div>

                <p class="swp_lead is-large-screen">
                    Depuis plus de 20 ans, nos actions ont pour objectif :
                </p>

                <ul class="is-large-screen">
                    <li>De fournir les fournitures et le matériel scolaire nécessaires pour que chaque enfant puisse
                        suivre une scolarité complète de la maternelle à l'entrée en secondaire.
                    </li>
                    <li>D'apporter des bourses pour les enfants entrant au secondaire, au collège comme au lycée.
                    </li>
                    <li>De trouver et de financer des formations professionnelles pour ceux qui souhaitent entrer
                        rapidement dans la vie active.
                    </li>
                    <li>D’apporter conseil aux universitaires
                    </li>
                    <li>De collaborer avec l’association des jeunes de Wassadou pour le développement de leur village.
                    </li>
                </ul>

                <p>Vous pouvez visualiser nos lettres d'informations 2020, 2021 et 2022</p>

                <p class="center swp-blog--button">
                    <button class="center" onclick="document.location.href='raw/bulletin_information_janvier_2022.pdf'">
                        Lettre information<br><b>janvier 2022</b></button>
                    <button class="center" onclick="document.location.href='raw/bulletin_information_juin_2021.pdf'">
                        Lettre information<br><b>juin 2021</b></button>
                    <button class="center" onclick="document.location.href='raw/bulletin_information_janvier_2021.pdf'">
                        Lettre information<br><b>janvier 2021</b></button>
                    <button class="center" onclick="document.location.href='raw/bulletin_information_mai_2020.pdf'">
                        Lettre information<br><b>2020</b></button>
                </p>

                <div class="swp_grid__flexible">
                    {{#firstArticle}}
                        <article class="swp-blog--article swp_grid__element"
                                 onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <p class="swp_lead swp-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a>
                            </p>
                            <div class="swp-blog--imgteaser"><img class="swp-img--lazyload" data-src="{{{imgteaser}}}"/>
                            </div>
                            <p class="swp-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/firstArticle}}
                    {{#secondArticles}}
                        <article class="swp_grid__element swp-blog--article"
                                 onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                            <p class="swp_lead swp-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a>
                            </p>
                            <div class="swp-blog--imgteaser"><img class="swp-img--lazyload" data-src="{{{imgteaser}}}"/>
                            </div>
                            <p class="swp-blog--teaser">{{teaser}}</p>
                        </article>
                    {{/secondArticles}}
                </div>
                <p class="center swp-blog--button">
                    <button class="center" onclick="document.location.href='blog.html'">Voir le blog</button>
                </p>
            </swp-home>
        </article>

        <div id="swp_transition_village"></div>

        <article class="swp_wassadou" id="wassadou">
            <swp-wassadou>
                <h1>Le village de Wassadou</h1>

                <p class="swp_lead">
                    Wassadou se trouve au Sud-est du pays à 520 km de la capitale Dakar. A L’extrémité de la Gambie et
                    aux
                    portes du parc national de Niokoto koba.
                </p>

                <div class="center">
                    <div class="swp-img-container">
                        <picture>
                            <source srcset="img/wassadou/wassadou_map_768.webp 640w, img/wassadou/wassadou_map_1024.webp 1024w, img/wassadou/wassadou_map_1600.webp"
                                    type="image/webp" class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_map_768.jpg 640w, img/wassadou/wassadou_map_1024.jpg 1024w, img/wassadou/wassadou_map_1600.jpg"
                                    class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_map_1600.jpg"/>

                            <img src="img/wassadou/wassadou_map_768.jpg">
                        </picture>
                    </div>
                </div>

                <p class="swp_lead">
                    L’éloignement de la capitale fait que les écoles de brousse de ce genre reçoivent peu d’aide du
                    gouvernement. Depuis Dakar, il faut près de 16 heures de route pour atteindre le village de
                    Wassadou, également parfois appelé Wassadou Dépôt.
                </p>
                <p class="swp_lead">
                    La principale ressource de Wassadou est la culture de la banane sur des exploitations privées. Le
                    peu d’élevage existant se limite aux besoins familiaux, incluant chèvres, poules et moutons.</p>

                <p>Le village compte approximativement 150 chefs de famille, et la population de la commune est estimée
                    entre 1300 et 1500 personnes.</p>

                <p>Ce n’est qu’en 2025 que le village sera raccordé au réseau électrique. Toutefois, pour l’eau, il
                    faudra encore attendre, car seuls les puits alimentent actuellement le village en eau.
                </p>

                <div class="center">
                    <div class="swp-img-container">
                        <picture>
                            <source srcset="img/wassadou/wassadou_view001_768.webp 640w, img/wassadou/wassadou_view001_1024.webp 1024w, img/wassadou/wassadou_view001_1600.webp"
                                    type="image/webp" class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view001_768.jpg 640w, img/wassadou/wassadou_view001_1024.jpg 1024w, img/wassadou/wassadou_view001_1600.jpg"
                                    class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view001_1600.jpg"/>

                            <img src="img/wassadou/wassadou_view001_768.jpg">
                        </picture>
                    </div>
                </div>
            </swp-wassadou>
        </article>

        <div id="swp_transition_tree"></div>

        <article class="swp_donation" id="donation">
            <swp-donation>
                <p class="swp_lead">
                    <b>100% des fonds collectés sont redistribués à nos amis de Wassadou</b>
                    (les frais de voyage et de séjour sont assumés en totalité par chaque membre se rendant sur place).
                </p>
                <div class="center swp-img-container">
                    <div class="swp-img-container">
                        <picture>
                            <source srcset="img/wassadou/wassadou_view002_768.webp 640w, img/wassadou/wassadou_view002_1024.webp 1024w, img/wassadou/wassadou_view002_1600.webp"
                                    type="image/webp" class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view002_768.jpg 640w, img/wassadou/wassadou_view002_1024.jpg 1024w, img/wassadou/wassadou_view002_1600.jpg"
                                    class="img-responsive"/>
                            <source srcset="img/wassadou/wassadou_view002_1600.jpg"/>

                            <img src="img/wassadou/wassadou_view002_768.jpg">
                        </picture>
                    </div>
                </div>
                <p class="swp_lead">
                    Si vous voulez soutenir nos actions, vous pouvez envoyer vos dons directement en sachant qu’avec:
                </p>
                <ul>
                    <li>6€ permettent de financer les fournitures scolaires pour l’année à 1 élève de primaire, en
                        moyenne.
                    </li>
                    <li>Pour 15€, une bourse est offerte à un élève de secondaire pour couvrir les frais d’inscription
                        et de fournitures scolaires. Chaque année, environ cent garçons et filles en bénéficient.
                    </li>
                    <li>Avec des contributions de 50€ et 100€, nous finançons la formation professionnelle d’un jeune
                        dans un centre certifié.
                    </li>
                </ul>
                <p class="swp_lead" align="center">
                    <a class="swp_button_donation center" target="_blank"
                       href="https://www.donnerenligne.fr/solidarite-wassadou-pont-trambouze/faire-un-don">Faire un
                        don</a>
                </p>
                <p class="swp_lead">
                    Envoyez un chèque à l'ordre de SOLIDARITE WASSADOU PONT-TRAMBOUZE à l'adresse suivante : Mairie de
                    Pont Trambouze - Place Beillard - Pont-Trambouze - 69470 COURS.
                </p>
                <p class="swp_lead">
                    Vous pouvez aussi faire un virement. Pour celà envoyez nous un email à
                    contact@solidarite-wassadou.fr.
                    Nous vous enverrons en retour notre RIB pour que vous ayez les éléments pour faire un virement.
                </p>
            </swp-donation>
        </article>

        <div id="swp_transition_ground"></div>


        <article class="swp_contact" id="contact">
            <swp-contact>
                <div class="swp_grid__flexible">
                    <div class="swp_grid__element">
                        <h1>Contact</h1>

                        <p class="swp_lead">
                            N'hésitez pas à nous contacter si vous souhaitez plus d'informations<br>
                        </p>

                        <p class="swp_lead">
                            <b>Solidarité Wassadou Pont Trambouze</b><br>
                            <small>contact @ solidarite-wassadou.fr</small>
                        </p>
                        <address class="swp_lead">
                            <b>Solidarité Wassadou Pont Trambouze</b><br>
                            Mairie<br>
                            Pont-Trambouze<br>
                            Place Beillard <br> 69470 COURS.<br>
                            France
                        </address>
                        <p>&nbsp;</p>
                        <p>
                            <a href="https://www.facebook.com/SolidariteWassadouPontTrambouze/" target="_blank"
                               rel="noopener">
                                <img src="img/contact/facebook.svg" alt="Facebook" class="swp-social">
                            </a>
                            <a href="mailto:contact@solidarite-wassadou.fr" target="_blank" rel="noopener">
                                <img src="img/contact/mail.svg" alt="Mail" class="swp-social">
                            </a>
                        </p>
                        <p align="center"><small>hosted and supported by</small></p>
                        <p align="center">
                            <img src="img/logo-clevercloud.svg" alt="hosted by Clever Cloud">
                        </p>
                    </div>
                </div>
            </swp-contact>
        </article>
    </div>
    {{> _page_footer}}
</main>
{{> _html_footer}}
</body>
</html>
